<div class="track-list-container">
    <div ng-repeat="track in vm.tracks" dy-fade index="{{$index}}">
        <div class="border-top-line"></div>
        <div class="track-card hover-position-shadow">
            <div class="card-img-container">
                <img class="card-img" ng-src="{{track.artwork_url | trackArtworkFilter:500 }}"/>
            </div>
            <div class="black-line"></div>
            <div class="track-info">
                <p id="title">{{track.user.permalink}}</p>
                <p id="sub-title">{{track.title}}</p>
                <div class="card-controls">
                    <p class="play-btn" ng-click="vm.onPlayClicked(track)">PLAY</p>
                    <p class="duration">{{track.duration | trackDurationFilter:"mm:ss"}}</p>
                    <!--<p class="duration">Likes {{track.favoritings_count}}</p>-->
                </div>
            </div>
        </div>
    </div>
</div>