<div class="full-height">
    <div class="home-header">
        <div class="main-content-layout">
            <div class="title-container">
                <h5>Search /</h5>
                <form ng-submit="vm.searchTracks($event)">
                    <input id="search_input" type="text" placeholder="Start typing" autoComplete="off" autofocus ng-model="vm.name" ng-change="vm.onSearchInputChange()" auto-focus/>
                </form>
            </div>
        </div>
    </div>
    <div class="main-content-layout">
        <div ng-if="vm.isLoading" class="spinner"></div>
        <track-list tracks="vm.tracks" ng-if="vm.tracks.length > 0"></track-list>
    </div>
</div>