@playerHeight: 75px;

.player {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 10;
  height: @playerHeight;
  background: #262728;
  border-top: 4px solid #FF5400;
  bottom: -@playerHeight;
  transition: bottom 0.25s ease-out;
}

.track-progress-bar {
  width: 100%;
  height: 8px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar {

}

#progress {
  width: 1px;
  height: 8px;
  background-color: #ff3300;
}

.player {
  h5 {
    margin: 10px 0 0 0;
    padding: 0;
    color: #BFC0C1;
    height: 20px;
    overflow: hidden;
  }
  p {
    margin: 5px 5px;
    float: left;
    color: #7F8081;
  }
}



.player-play {

}

.player-pause {

}

.player-duration {
  width: 100px;
}

.player-animate-in {
  bottom: 0;
}

.player-animate-out {
  bottom: -@playerHeight;
}
