<div class="player" ng-class="{'player-animate-in': vm.player.audio, 'player-animate-out': vm.player.audio === null}">
    <div class="track-progress-bar" ng-click="vm.onProgressClicked($event)">
        <div id="progress"></div>
    </div>
    <div class="main-content-layout">
        <h5>{{vm.player.track.title}}</h5>
        <p class="player-play" ng-click="vm.onPauseClicked()">{{ vm.player.text }}</p>
        <p class="player-stop" ng-click="vm.onStopClicked()">STOP</p>
        <p class="player-duration">{{ vm.player.currentTime | trackDurationFilter:"mm:ss":false }} / {{vm.player.track.duration | trackDurationFilter:"mm:ss"}}</p>
    </div>
</div>