<div class="player" ng-class="{'player-animate-in': vm.player.audio, 'player-animate-out': vm.player.audio === null}">
    <canvas id="progress" class="progress-bar" width="640" height="10" ng-click="vm.onProgressClicked($event)"></canvas>
    <div class="main-content-layout">
        <h5>{{vm.player.track.title}}</h5>
        <p class="player-play" ng-click="vm.onPauseClicked()">PAUSE</p>
        <p class="player-stop" ng-click="vm.onStopClicked()">STOP</p>
        <p class="player-duration">{{vm.getCurrentTime() }} / {{vm.player.track.duration | trackDurationFilter:"mm:ss"}}</p>
    </div>
</div>